/* Hero Section */
.hero-section {
  padding: 120px 0;
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("../img/hero-blog.jpg") no-repeat center center/cover;
}

/* 404 Page */
.page_404 {
  padding: 40px 0;
}

.four_zero_four_bg {
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: var(--primary-color);
  margin: 20px 0;
  display: inline-block;
  border-radius: 5px;
}
