body {
  font-family: var(--font-family-sans-serif);
  line-height: 1.6;
  background-color: #f8f9fa;
  color: var(--dark-color);
  padding-top: 70px; /* For fixed navbar */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #0a58ca;
}

.font1 {
  font-family: var(--font1);
}
