@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");

:root {
  --main-bg-color: #bd6418;
  /* --main-bg-color: black; */
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
  --articles-bg:rgb(18, 18, 18);
  --font-color:white;
}

::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* changes */

.nav-icon{
    color: white;
}

.bg-light{
    background-color: #282d32 !important;
}

hr{
    color: white;
}

.nav-link{
    color: white !important;
}

#themeBtn{
    border: none;
    background-color: transparent;
    padding-left: 14px;
}

#themeBtn #sun{
    display: none;
}


/* changes */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--articles-bg);
}
.center {
  text-align: center;
}

.font1 {
  font-family: var(--font1);
  color: var(--font-color) !important;
}

.font2 {
  font-family: var(--font2);
  color: var(--font-color);
}

.max-width-1 {
  max-width: 90vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.mt-8 {
  margin-top: 40px;
}

.mx-1 {
  margin-left: 23px;
  margin-right: 23px;
}

.my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1rem;
}

.featured{
  color: white !important;
  text-align: center;
}

.btn {
  padding: 0px 20px;
  padding-top: 3px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: white;
  background: var(--main-bg-color);
}

.form-input {
  padding: 0px 5px;
  padding-top: 3px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}

.contact-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 18px;
}

.form-box input,
textarea {
  width: 52vw;

  border-radius: 5px;
  background-color: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: var(--font-color);
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.space {
  width: 100%;
  height: 5rem;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px !important;
  padding-top: 30px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
}

.content::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background-image: url(../img/leaves.png); */
  /* background-image: url(../img/bg.png); */
  background-image: url(../img/bg.jpg);
  opacity: 0.45;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-left h1 {
  font-size: 5rem;
  line-height: 4.5rem;
  font-family: var(--font1);
  font-weight: 500;
  padding-bottom: 2rem;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 600px;
  width: 600px;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 50%;
}

/* contact */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: var(--articles-bg);
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  color: white;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0cf;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}



.home-articles {
  padding: 18px;
  background-color: var(--articles-bg);
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: var(--font-color);
}

/* .home-articles{} */
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}

@media screen and (max-width: 1214px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }

  .nav-left {
    flex-direction: column;
    text-align: center;
  }

  .content-right {
    display: none;
  }

  .content-left h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    font-family: var(--font1);
    font-weight: 400;
    padding-bottom: 2rem;
  }

  .home-article {
    flex-direction: column;
  }

  .home-article-img {
    text-align: center;
  }

  .year-box {
    top: 25px;
    left: 60vw;
    font-size: 11px;
    display: flex;
  }

  .year-box div {
    padding: 0 3px;
    margin: 0;
  }

  .home-article img {
    width: 70vw;
  }

  .form-input {
    width: 50%;
  }

  .form-box input,
  textarea {
    width: 66vw;
  }

  .row {
    flex-direction: column;
  }

  .social {
    padding: 0;
  }

  .post-img img {
    width: 100vw;
    height: auto;
    margin: 10px;
  }

  .adjust-year {
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 991px) {
  .navbar-collapse {
    justify-content: inherit;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  /* opacity: 0.3; */
  font-size: 13px;
  margin-bottom: 0;
}
