<div class="footer-dark">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 item">
					<h3>Services</h3>
					<ul>
						<li><a href="#">Web design</a></li>
						<li><a href="#">Development</a></li>
						<li><a href="#">Hosting</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Content</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 item">
					<h3>About</h3>
					<ul>
						<li><a href="#">Company</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				<div class="col-md-6 item text">
					<h3>DevBlog</h3>
					<p>
						DevBlog is a Blogpost Platform where the Users can Upload their
						Articles and Literatures on the Web and the maintainers of the
						Website can approve of them and then Publish it onto the Blog.
					</p>
				</div>
				<div class="col item social">
					<a href="#"><i class="fab fa-facebook"></i></a
					><a href="#"><i class="fab fa-twitter"></i></a
					><a href="#"><i class="fab fa-snapchat"></i></a
					><a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<p class="copyright">
				DevBlog ©
				<script>
					document.write(new Date().getFullYear());
				</script>
			</p>
		</div>
	</footer>
</div>
