
    <nav
      class="font2 navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top navbar-frosted"
    >
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="index.html">
          <span class="ml-3 font-weight-bold font2">DevBlog</span>
        </a>
        <button
          class="navbar-toggler navbar-toggler-right border-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar4"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar4">
          <ul class="navbar-nav mx-auto pl-lg-4">
            <li class="nav-item px-lg-2">
              <a class="nav-link" href="index.html"
                ><span class="d-inline-block d-lg-none icon-width pe-1"
                  ><i class="fa-solid fa-house"></i></span
                >Home</a
              >
            </li>
            <li class="nav-item px-lg-2 active">
              <a class="nav-link" href="about.html"
                ><span class="d-inline-block d-lg-none icon-width pe-1"
                  ><i class="fa-solid fa-user"></i></span
                >About</a
              >
            </li>

            <li class="nav-item px-lg-2">
              <a class="nav-link" href="contact.html"
                ><span class="d-inline-block d-lg-none icon-width pe-1"
                  ><i class="fa-solid fa-envelope"></i></span
                >Contact</a
              >
            </li>

            <li class="nav-item px-lg-2">
              <a class="nav-link" href="contributors.html"
                ><span class="d-inline-block d-lg-none icon-width pe-1"
                  ><i class="fa-solid fa-user-group"></i></span
                >Contributors</a
              >
            </li>
          </ul>
          <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
            <button id="themeBtn" onclick="theme()" class="btn-theme">
                <i class="fas fa-sun" id="sun"></i>
                <i class="fas fa-moon" id="moon"></i>
            </button>

            <a class="mx-3 my-1 btn btn-primary" href="AddBlog.html"
              >Add Blog</a
            >
          </ul>
        </div>
      </div>
    </nav>